{% if site.data.projects %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

  {% for project in site.data.projects %}
    <div class="item">
      <button class ="accordion">
      <div class="meta">
        <div class="upper-row">
          {% if project.link %}
          <h3 class="job-title"><a href={{project.link}}>{{ project.title }}</a></h3>

          {% else %}
          <h3 class="job-title">{{ project.title }}</h3>
          {% endif %}

          <div class="time">{{ project.time }}</div>
        </div><!--//upper-row-->
      </div><!--//meta-->
    </button>
    <div class="panel">
      {% if project.details %}
      <div class="details">
        <p>{{ project.details }}</p>
      </div><!--//details-->
      {% endif %}

      {% if project.proimage %}
      <div align="center">
        <img src ="{{site.baseurl}}/assets/images/{{project.proimage}}"</p>
      </div><!--//details-->
      <br><br><br>
      {% endif %}

      {% if project.provid %}
      <div align="center">
        <iframe width="600" height="450"
          src="{{project.provid}}">
        </iframe>
      </div><!--//details-->
      <br><br><br>
      {% endif %}
    </div><!--//panel-->
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
