{% if site.data.projects %}
<section class="section projects-section">
  <button class="section-accordion"><i class="fa fa-archive"></i>PROJECTS
  </button>
<div class="panel">
  {% for project in site.data.projects %}
    <div class="item">
      <button class ="accordion">
        <div class="meta">
          <div class ="upper-row">
              <h3 class="project-title">{{ project.title }}</h3>
              <div class="project-time">{{ project.time }}</div>
          </div>
        </div>
      </button>
    <div class="panel">
      {% if project.details %}
      <div class="details">
        <p>{{ project.details }}</p>
      </div><!--//details-->
      {% endif %}

      {% if project.software %}
        <p class ="softwareUsed"><b>Software Used: </b>{{project.software}}</p>
        <br>
      {% endif %}

      {%if project.link%}
        <a target="_blank" rel="noopener noreferrer" class="Gitrepo" href="https://github.com/iyerkritika/{{project.link}}">
             <button class="resume">View Github Repo</button>
           </a>&ensp;
      {% endif %}

      {% if project.report %}
      <a target="_blank" rel="noopener noreferrer" class="resume" href="{{site.baseurl}}/assets/pdfs/{{project.report}}.pdf">
         <button class="resume">View Report</button>
      </a>
      {% endif %}

      <br><br>

      {% if project.proimage %}
      <div class ="vidCont" align="center">
        <img src ="{{site.baseurl}}/assets/images/{{project.proimage}}"/>
      </div><!--//details-->
      <br><br><br>
      {% endif %}

      {% if project.provid %}
      <div class="vidCont">
        <iframe class="videoembedd" src="{{project.provid}}">
        </iframe>
      </div><!--//details-->
      {% endif %}

    </div><!--//panel-->
    </div><!--//item-->
  {% endfor %}
</div><!--panel-->
</section><!--//section-->
{% endif %}
