{% if site.data.skills %}
<section class="skills-section section">
  <button class="section-accordion" id="skillPanel"><i class="fa fa-rocket"></i>SKILLS
  </button>
<div class="panel">
  <div class="skillset">
    {% for heading in site.data.skills %}
      <h4 class="skillheading">{{ heading.name }}</h4>
      {% for skill in heading.skills %}
      <div class="skillitem">
        <h3 class="level-title">{{ skill.name }}</h3>
        <div class="level-bar">
          <div class="level-bar-inner" data-level="{{ skill.level }}">
          </div>
        </div>
      </div>
      {% endfor %}
    {% endfor %}
  </div> <!--skillset-->
</div><!--panel-->
</section><!--//skills-section-->
{% endif %}
